[Desktop Entry]
Version=0.1.15
Name=LibreLinkUpDesktop
Comment=This is a desktop application that fetches your blood sugar from LibreLinkUp
Exec=${SNAP}/librelinkupdesktop/librelinkupdesktop --no-sandbox
Icon=${SNAP}/meta/gui/librelinkupdesktop.png
Terminal=false
Type=Application
Categories=Utility;Health;
